<div mat-dialog-content>
  <p><span translate>createUserTextTitle</span></p>
  <form class="example-form" #f="ngForm">
    <mat-form-field class="example-full-width">
      <mat-label><span translate>createName</span></mat-label>
      <input matInput name="user.name" #name="ngModel" type="text" placeholder=""  [(ngModel)]="user.name" required >      
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label><span translate>createAge</span></mat-label>
      <input matInput name="user.age" #age="ngModel" type="text" placeholder=""  [(ngModel)]="user.age" required >      
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label><span translate>createSalary</span></mat-label>      
      <input matInput name="user.salary" #salary="ngModel" type="text" placeholder=""  [(ngModel)]="user.salary" required >      
    </mat-form-field>    
    <!-- <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Leave a comment"></textarea>
      </mat-form-field> -->
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">
    <span translate>createCancel</span>
  </button>
  <button mat-button (click)="onClick()"><span translate>createSave</span></button>
</div>
